body
{
    background: url("background.webp");
    font-family: 'Rubik', sans-serif;
    color: white;
}

.heading
{
    background-color: #92B4EC;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

h1
{
    font-family: 'Sacramento', cursive;
    font-size: 60px !important;
}

#copyright
{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #92B4EC;
    padding: 10px;
}

canvas
{
    background-color: #92B4EC;
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 60px;
}